<form action='{{ action }}' method='post' class='form-horizontal' {{ multipart }}>
    <fieldset>
        <legend>{{ legend }}</legend>
        {% csrf_token %}
        {% for field in form %}
            <div class='control-group {%if field.errors %}error{% endif %}'>
                <label class='control-label' for='{{ field.name }}'>{{ field.label }}</label>
                <div class='controls'>
                    {{ field }}
                </div>
                <div class="controls">
                    {% for error in field.errors %}
                        <p class="text-error">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class='control-group'>
            <div class='controls'>
                <button type='submit' class='btn btn-primary'>{{ submit }}</button>
            </div>
        </div>
    </fieldset>
</form>