{% extends "base.html" %}

{% block title %}CourseRu | Мои курсы{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="pull-left">
                <p class="lead">Список моих курсов</p>
            </div>
            <div class="pull-right">
                <a href="{% url 'instructor.views.add_course' %}" class="btn btn-success"><i class="icon-plus icon-white"></i> Новый курс</a>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="taskTab">
        <li class="active"><a href="#available" data-toggle="tab">Размещённые <span class="badge">{{ Courses|length }}</span></a></li>
        <li><a href="#approved" data-toggle="tab">Одобренные <span class="badge">{{ Approved|length }}</span></a></li>
        <li><a href="#new" data-toggle="tab">Заявки <span class="badge">{{ Requests|length }}</span></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="available">
            {% include 'instructor/courselist.html' with list=Courses %}
        </div>
        <div class="tab-pane" id="approved">
            {% include 'instructor/courselist.html' with list=Approved %}
        </div>
        <div class="tab-pane" id="new">
            {% include 'instructor/courselist.html' with list=Requests %}
        </div>
    </div>

{% endblock %}