{% extends "base.html" %}

{% block title %}CourseRu | {{ course.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="pull-left">
                <p class="lead">{{ course.name }}</p>
            </div>
            <div class="pull-right">
                {% if course.approved %}
                    <a href="{% url 'instructor.views.edit_course' course.id %}" class="btn"><i class="icon-pencil"></i> Редактировать курс</a>
                    <a href="{% url 'instructor.views.delete_course' course.id %}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Удалить курс</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if not course.approved %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание!</strong> Курс ещё не подтверждён.
        </div>
    {% elif not course.available %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание!</strong> Курс ещё не размещён.
        </div>
    {% endif %}

    {% if course.approved %}
        <ul class="nav nav-tabs">
            <li class="{% if tab == 'main' %}active{% endif %}"><a href="#main" data-toggle="tab">Информация</a></li>
            <li class="{% if tab == 'news' %}active{% endif %}"><a href="#news" data-toggle="tab">Новости</a></li>
            <li class="{% if tab == 'files' %}active{% endif %}"><a href="#files" data-toggle="tab">Файлы</a></li>
            <li class="{% if tab == 'videos' %}active{% endif %}"><a href="#videos" data-toggle="tab">Видео</a></li>
            <li class="{% if tab == 'users' %}active{% endif %}"><a href="#users" data-toggle="tab">Студенты</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane {% if tab == 'main' %}active{% endif %}" id="main">
                <table class="table">
                    <thead>
                        <th>Поле</th>
                        <th>Значение</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Название</td>
                            <td>{{ course.name|default:"<i>Значение не задано</i>" }}</td>
                        </tr>
                        <tr>
                            <td>Краткое описание</td>
                            <td>{{ course.short_summary|default:"<i>Значение не задано</i>" }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ course.description|default:"<i>Значение не задано</i>" }}</td>
                        </tr>
                        <tr>
                            <td>Организация</td>
                            <td>{{ course.organisation|default:"<i>Значение не задано</i>" }}</td>
                        </tr>
                        <tr>
                            <td>Логотип</td>
                            <td>
                            {% if course.logo %}
                            <img src="{{ MEDIA_URL }}{{ course.logo }}" alt="{{ course.name }}" class="course-logo-small">
                            {% else %}
                                <i>Изображение не задано</i>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Дата начала</td>
                            <td>{% if course.start_date %}{{ course.start_date|date:'d.m.Y' }}{% else %}<i>Значение не задано</i>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Дата конца</td>
                            <td>{% if course.end_date %}{{ course.end_date|date:'d.m.Y' }}{% else %}<i>Значение не задано</i>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Автор</td>
                            <td>{{ course.author|default:"<i>Значение не задано</i>" }}</td>
                        </tr>
                        <tr>
                            <td>Заявка на создание курса</td>
                            <td>{{ course.admin_summary|default:"<i>Значение не задано</i>" }}</td>
                        </tr>
                        <tr>
                            <td>Дата создания</td>
                            <td>{% if course.date %}{{ course.date|date:'d.m.Y H:i' }}{% else %}<i>Значение не задано</i>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Подтверждение</td>
                            <td>{% if course.approved %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Размещение</td>
                            <td>{% if course.available %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane {% if tab == 'news' %}active{% endif %}" id="news">
                <div class="row">
                    <div class="span12">
                        <p class="pull-right">
                            <a href="{% url 'instructor.views.add_news' course.id %}" class="btn btn-success"><i class="icon-plus icon-white"></i> Добавить информацию</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Заголовок</th>
                                    <th>Автор</th>
                                    <th>Дата размещения</th>
                                    <th>Дата появления</th>
                                    <th>Информация</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for info in infos %}
                                <tr>
                                    <td>{{ info.material.name }}</td>
                                    <td>{{ info.material.author }}</td>
                                    <td>{{ info.material.date|date:'d.m.Y' }}</td>
                                    <td>{{ info.material.appear_date|date:'d.m.Y H:i' }}</td>
                                    <td>{{ info.text }}</td>
                                    <td>
                                        <a href="{% url 'instructor.views.edit_news' course.id info.id %}" class="btn btn-mini"><i class="icon-pencil"></i> Редактировать</a>
                                        <a href="{% url 'instructor.views.delete_news' course.id info.id %}" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Удалить</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" style="text-align: center">
                                        <i>Нет данных</i>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="tab-pane {% if tab == 'files' %}active{% endif %}" id="files">
                <div class="row">
                    <div class="span12">
                        <p class="pull-right">
                            <a href="{% url 'instructor.views.add_file' course.id %}" class="btn btn-success"><i class="icon-plus icon-white"></i> Добавить информацию</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Заголовок</th>
                                <th>Автор</th>
                                <th>Дата размещения</th>
                                <th>Дата появления</th>
                                <th>Файл</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in files %}
                                <tr>
                                    <td>{{ file.material.name }}</td>
                                    <td>{{ file.material.author }}</td>
                                    <td>{{ file.material.date|date:'d.m.Y' }}</td>
                                    <td>{{ file.material.appear_date|date:'d.m.Y H:i' }}</td>
                                    <td><a href="{{ file.doc.url }}">{{ file.doc.name }}</a></td>
                                    <td>
                                        <a href="{% url 'instructor.views.edit_file' course.id file.id %}" class="btn btn-mini"><i class="icon-pencil"></i> Редактировать</a>
                                        <a href="{% url 'instructor.views.delete_file' course.id file.id %}" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Удалить</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" style="text-align: center">
                                        <i>Нет данных</i>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="tab-pane {% if tab == 'videos' %}active{% endif %}" id="videos">
                <div class="row">
                    <div class="span12">
                        <p class="pull-right">
                            <a href="{% url 'instructor.views.add_video' course.id %}" class="btn btn-success"><i class="icon-plus icon-white"></i> Добавить видео</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Заголовок</th>
                                <th>Автор</th>
                                <th>Дата размещения</th>
                                <th>Дата появления</th>
                                <th>Видео</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for video in videos %}
                                <tr>
                                    <td>{{ video.material.name }}</td>
                                    <td>{{ video.material.author }}</td>
                                    <td>{{ video.material.date|date:'d.m.Y' }}</td>
                                    <td>{{ video.material.appear_date|date:'d.m.Y H:i' }}</td>
                                    <td>{{ video.youtube_video_id }}</td>
                                    <td>
                                        <a href="{% url 'instructor.views.edit_video' course.id video.id %}" class="btn btn-mini"><i class="icon-pencil"></i> Редактировать</a>
                                        <a href="{% url 'instructor.views.delete_video' course.id video.id %}" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Удалить</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" style="text-align: center">
                                        <i>Нет данных</i>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="tab-pane {% if tab == 'users' %}active{% endif %}" id="users">
                <ul>
                    {% for user in users %}
                        <li>{{ user }} {% if user.userprofile.is_instructor %}<span class="label label-info">Преподаватель</span>{% endif %}</li>
                    {% empty %}
                        <i>Нет участников курса</i>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %} <!-- unapproved course -->
        <table class="table">
            <thead>
                <th>Поле</th>
                <th>Значение</th>
            </thead>
            <tbody>
            <tr>
                <td>Название</td>
                <td>{{ course.name|default:"<i>Значение не задано</i>" }}</td>
            </tr>
            <tr>
                <td>Автор</td>
                <td>{{ course.author|default:"<i>Значение не задано</i>" }}</td>
            </tr>
            <tr>
                <td>Заявка на создание курса</td>
                <td>{{ course.admin_summary|default:"<i>Значение не задано</i>" }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{% if course.date %}{{ course.date|date:'d.m.Y H:i' }}{% else %}<i>Значение не задано</i>{% endif %}</td>
            </tr>
            <tr>
                <td>Подтверждение</td>
                <td>{% if course.approved %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}