{% extends "base.html" %}

{% block title %}CourseRu | Редактирование курса{% endblock %}

{% block additional_header %}
    <!-- File Upload form -->
    <link href="/static/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <script src="/static/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>

    <!-- Calendar form -->
    <link href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block content %}
    {% include 'horizontal_form.html' with form=form legend='Редактирование курса' submit='Сохранить' multipart='enctype="multipart/form-data"' %}
{% endblock %}