<table class="table">
    <thead>
    <th>Поле</th>
    <th>Значение</th>
    </thead>
    <tbody>
    <tr>
        <td>Название</td>
        <td>{{ course.name|default:"<i>Значение не задано</i>" }}</td>
    </tr>
    <tr>
        <td>Автор</td>
        <td>{{ course.author|default:"<i>Значение не задано</i>" }}</td>
    </tr>
    <tr>
        <td>Заявка на создание курса</td>
        <td>{{ course.admin_summary|default:"<i>Значение не задано</i>" }}</td>
    </tr>
    <tr>
        <td>Дата создания</td>
        <td>{% if course.date %}{{ course.date|date:'d.m.Y H:i' }}{% else %}<i>Значение не задано</i>{% endif %}</td>
    </tr>
    <tr>
        <td>Подтверждение</td>
        <td>{% if course.approved %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
    </tr>
    </tbody>
</table>